/*
 * 多说评论的 CSS 样式；
 * 作者：MinonHeart < http://me.hub.moe >；
 * 完成时间：2014-09-26；
 * 最近更新：2014-12-21；
 * 其他说明：基于 Pagecho < http://www.v2ex.com/t/118650 > 的 CSS 样式修改而来；
 */

#ds-thread #ds-reset .ds-powered-by, .ds-post-repost { display: none !important; }
#ds-reset .ds-gradient-bg, #ds-thread #ds-reset .ds-textarea-wrapper { background: none !important; }
#ds-reset .ds-like-thread-button, .ds-rounded{
    background: rgba(255,255,255,1) !important;
    box-shadow: 0 0 0.1px rgba(0,0,0,0.2) !important;
    border: 1px solid #ddd !important;
}
#ds-reset .ds-sync{ display: none !important; } /* 隐藏评论框底部分享 */
#ds-thread #ds-reset .ds-post-button {
    background: #fff !important;
    box-shadow: none !important;
    border: 1px solid #ddd !important;
    left: auto !important; /* 不必要的语句 */
    color: #888 !important;
    font-weight: normal !important;
    outline: none;
}
#ds-thread #ds-reset .ds-post-button:hover { color: #333 !important; }
#ds-thread #ds-reset .ds-textarea-wrapper textarea { height: 54px !important; }
#ds-thread #ds-reset li.ds-tab a, #ds-thread #ds-reset #ds-bubble, #ds-reset .ds-avatar img{
    border-radius: 1px !important;
    -webkit-border-radius: 1px !important;
}
#ds-thread #ds-reset li.ds-tab a:hover { background: #fff !important; }
#ds-thread #ds-reset li.ds-tab a.ds-current{
    background: #fff !important;
    border: none !important;
}
#ds-thread #ds-reset .ds-post-self {
    padding-top: 15px !important;
    padding-bottom: 15px !important;
}
#ds-reset .ds-avatar img {
    box-shadow: none !important;
    border: 1px solid #ddd !important;
    padding: 1px !important;
    border-radius: 2px !important;
    -webkit-border-radius: 2px !important;
}
#ds-reset .ds-replybox .ds-avatar img {
    width: 50px !important;
    height: 50px !important;
}
#ds-thread #ds-reset #ds-bubble {
    border: 1px solid #ddd !important;
    box-shadow: none !important;
}
#ds-thread #ds-reset .ds-replybox { padding-left: 70px !important; }
#ds-thread #ds-reset .ds-post-self { padding-left: 0 !important; }
#ds-thread #ds-reset .ds-inline-replybox {
    margin-top: 27px !important;
    margin-left: 0 !important;
}
#ds-thread #ds-reset a.ds-comment-context {
    border: 1px solid #E3EDF3 !important;
    background: #F7FAFB !important;
    padding: 2px 0 1px 3px !important;
    color: #555 !important;
    margin-right: 5px !important;
    border-radius: 1px !important;
    -webkit-border-radius: 1px !important;
}
#ds-thread #ds-reset li.ds-post-placeholder { padding: 20px 0 !important; }

body #ds-smilies-tooltip ul.ds-smilies-tabs li a {
    background-image: -webkit-gradient(linear,left 0,left 100%,from(#fff),to(#fff));
    background-image: -webkit-linear-gradient(top,#fff,0%,#fff,100%);
    background-image: -moz-linear-gradient(top,#fff 0,#fff 100%);
    background-image: linear-gradient(to bottom,#fff 0,#fff 100%);
    border-bottom: 1px solid #e9e9e9;
}
body #ds-smilies-tooltip {
    border: 0 !important;
    box-shadow: 0 0 30px rgba(0,0,0,0.2) !important;
}
#ds-smilies-tooltip .ds-smilies-container { height: 180px!important; }
#ds-smilies-tooltip ul.ds-smilies-tabs { height: 180px!important; }
#ds-reset ul.ds-children .ds-avatar img {
    width: 35px !important;
    height: 35px !important;
}
#ds-thread #ds-reset .ds-comment-body p { margin: 10px !important; }
#ds-reset button {
    background: #fff !important;
    box-shadow: 0 0 1px rgba(0,0,0,0.2) !important;
    border: 1px solid #ddd !important;
}
#ds-reset button:hover {
    background: #ddd !important;
    box-shadow: 0 0 1px rgba(0,0,0,0.2) !important;
    border: 1px solid #ddd !important;
}
#ds-thread #ds-reset .ds-user-name { color: #0c94de !important; }
#ds-thread #ds-reset .ds-comment-header{ margin-left: 10px !important; }
#ds-thread #ds-reset .ds-login-buttons .ds-more-services { color: #777 !important; }
#ds-thread #ds-reset .ds-login-buttons .ds-more-services:hover { color: #333 !important; }
#ds-thread #ds-reset ul.ds-comments-tabs .ds-highlight { margin: 0 3px 0 0 !important; }
#ds-thread #ds-reset .ds-time { margin-left: 10px !important; }
#ds-thread.ds-narrow #ds-reset .ds-comments .ds-avatar img {
    width: 35px !important;
    height: 35px !important;
}

#ds-thread #ds-reset .ds-comment-body img { max-width: 50px !important; } /* 多说的复写语句，max-width 的值要与下一句的 width 和 height 的值相同 */
#ds-thread #ds-reset .ds-inline-replybox .ds-avatar img {
    width: 50px !important;
    height: 50px !important;
}

#ds-thread.ds-narrow #ds-reset .ds-comments .ds-inline-replybox .ds-avatar img {
    width: 50px !important;
    height: 50px !important;
}
#ds-thread #ds-reset .ds-textarea-wrapper {
    border: 1px solid #ddd !important;
    border-bottom: none !important;
}
#ds-thread #ds-reset .ds-post-options {
    border: 1px solid #ddd !important;
    border-bottom-color: #ddd !important;
    border-right: none !important;
}
#ds-reset .ds-rounded-top {
    border-radius: 1px 1px 0 0 !important;
    -webkit-border-radius: 1px 1px 0 0 !important;
}
#ds-notify {
    border-radius: 2px !important;
    -webkit-border-radius: 2px !important;
} /* 复写语句，放在后面 */
#ds-thread #ds-reset #ds-hot-posts { padding: 0 12px; }
#ds-thread #ds-reset .ds-header { padding: 0; }
